/.phpunit.cache
/database/worktree.sqlite
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.env
.env.backup
.env.dusk.local
.env.production
.phpactor.json
.phpunit.result.cache
/tests/Browser/Screenshots
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
**/caddy
frankenphp
frankenphp-worker.php
.DS_STORE
.idea
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/storage/debugbar
/storage/media-library
/.junie
/tmp
.nxt1-deploy